<form action= "/payment/results"> 
  <div>
    <label for = "square"> APR</label>
    <input id ="square" type = "text" placeholder ="E.g. 5.42" name="APR">
  </div>
  <div>
   <label for ="triangle"> Number of years </label>
   <input id ="triangle" type = "text" placeholder ="How many years to repay" name="years">
  </div>

   <div>
   <label for ="rectangle"> Principal </label>
   <input id ="rectangle" type = "text" placeholder ="How much principal" name="principal">
  </div>
  
  <button> Calculate monthly payment </button>
</form>
