<form action="/square_root/results"> 
  <label for ="square">Enter a number</label>
  <input id ="square" type = "text" placeholder ="What number do you want to square?" name="square_results">

<div> <button> Calculate square root </button> </div>
</form>
