<form action="/square/results"> 
  <div>
  <label for ="square">Enter a number</label>
  </div>
  <div>
  <input id ="square" type = "text" placeholder ="What number do you want to square?" name="results">
  </div>
  
<div><button> Calculate square </button></div>
</form>
